.wrapper {
  background-color: #282a36;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  justify-items: center;
  height: 100vh;

  .container {
    display: flex;
    grid-row-start: 2;
    grid-column-start: 2;
    gap: 10px;
    flex-wrap: wrap;
    width: 790px;

    .card {
      width: 150px;
      height: 130px;
      cursor: pointer;
      line-height: 80px;
      text-align: center;
      font-weight: bold;
      font-size: 25px;
      border-radius: 10px;
    }

    .neutral-card {
      background-color: #fffbf1;
    }

    .red-card {
      background-color: #ff5555;
    }

    .blue-card {
      background-color: #8be9fd;
    }

    .bomb-card {
      background-color: #090910;
    }
  }

  .red-team {
    grid-row-start: 2;
    grid-column-start: 1;
    background-color: #942d21;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    box-shadow: 5px 0 10px -1px #000;

    h4 {
      line-height: 0;
    }

  }

  .yellowBtn {
    display: block;
    background-color: #ffe346;
    border-radius: 25px;
    border: 1px solid #151c21;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    margin: 5px auto;
  }

  .joinedTeam {
    display: none;
  }

  .player {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
  }

  .blue-team {
    grid-row-start: 2;
    grid-column-start: 3;
    background-color: #1d84a0;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    box-shadow: 5px 0 10px -1px #000;

    h4 {
      line-height: 0;
    }


  }


}
